/* Aquí comienzas los estilos globales que podrían ir en otro archivo */

/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Estilos Globales*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-grey-light: #f5f5f5;
  --color-black: #000;
  --color-black-light: #0e0e0e;
  --color-brown: #c6b097;
  --fuente-principal:'Nunito';
  --fuente-segundaria:'Open Sans'
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--cwolor-black-light);
  font-size: 16px;
  line-height: 1.6;
}

h1, h2, h3 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a{
  text-decoration: none;
  color: #000;
}

li{
  list-style: none;
}


.container{ /*Esta clase ayudara a mantener una linea vertical y ademas centrara y se usa en varias secciones del codigo*/
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

/*===================================================================*/


/* Estilos del Header*/

.title-header{
  font-family: var(--fuente-segundaria);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
}

.navegation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.navegation-link a{
  font-size: 18px;
  font-family: var(--fuente-principal);
  font-weight: 700;
  transition: color .2s ease-out;
}

.navegation-link a:hover{
  color: var(--color-brown);
}

.navegation-link a:not(:last-child){
  margin-right: 10px;
}

.navegation-icons{
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

.navegation-icons i{
  cursor: pointer;
  font-size: 20px;
}

.cart-shop::after{
  content: "0";
  position: absolute;
  width: 20px;
  height: 18px;
  background-color: var(--color-brown);
  top: -12px;
  right: -10px;
  border-radius: 50%;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* estilos del Banner */

.container-banner{
  position: relative;
  background-image: url('../image/banner.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-banner::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.container-banner i{
  font-size: 50px;
  margin-left: 20px;
  margin-right: 20px;
  color: #858383;
  cursor: pointer;
  z-index: 1;
}

.banner{
  flex: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 260px;
  z-index: 4;
}

.banner h2{
   font-size: 50px;
   font-weight: bold;
   font-family: var(--funete-segundaria);
   color: #fff;
   text-shadow: 0px 0px 5px #9c9c9c;
}

.banner p{
  color: #fff;
  font-size: 18px;
  font-family: var(--fuente-principal);
}

.banner a{
  background-color: var(--color-brown);
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  margin-top: 30px;
}

/* Estilos de Galeria */
main{
  padding: 0.5px;
}

.container-gallery{
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.gallery-item-1{
  position: relative;
  flex: 1;
  height: 480px;
  background-color: #fffefe;
  padding: 15px;
}

.item-title{
   font-size: 30px;
   font-weight: 900;
   font-family: var(--fuente-segundaria);
   margin-bottom: 10px;
}

.item-phrase{
  font-size: 15px;
  width: 40ch;
  margin-bottom: 30px;
  font-family: var(--fuente-principal);
}

.item-btn{
  padding: 10px 20px;
  background-color: var(--color-brown);
  border-radius: 50px;
  font-size: 14px;
  font-weight: 800;
  color: #fff;
  box-shadow: 0px 5px 10px 0px var(--color-brown);
}

.sombra{
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(223, 222, 222, 0.3);
}

.item-img{
  position: absolute;
  width: 280px;
  height: 180px;
  right: 29%;
  bottom: -15px;
}

.gallery-item{
  flex: 1;
  width: 100%;
  height: 480px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.container-item{
   flex: 1;
   display: flex;
   gap: 10px;
}

.item-1,.item-2,.item-3{
  flex:1;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.item-1{
  background-image: url('../image/card-3.jpg');
}

.item-2{
  background-image: url('../image/card-5.jpg');
}

.item-3{
  position: relative;
  background-image: url('../image/card-4.jpg');
}

.item-3::before{
  position: absolute;
  content: "BONSAI BOX";
  width: 100%;
  height: 100%;
  background-color: rgba(79, 78, 78, 0.6);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: var(--fuente-segundaria);
}

/* Estilos del cards products */

.products{
  background-color: #f5f5f5;
  padding: 0.5px;
}

.title-product__container{
  text-align: center;
  margin-top: 60px;
  font-size: 30px;
  font-family: var(--fuente-segundaria);
  font-weight: 900;
}

.title-product__container span{
  color: var(--color-brown);
}

.container-card{
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 15px;
}

.card{
  width: 280px;
  height: 350px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 5px 10px #dfdede;
}

.card img{
  width: 180px;
  height: 200px;
}

.card p{
  font-size: 18px;
  font-family: var(--fuente-principal);
}

.card span{
  color: var(--color-brown);
  font-size: 18px;
  font-weight: 800;
}